
:root {
    --background: #FAF0F0;
    --primary-pink: #E8B4B8;
    --secondary-pink: #f8bbd9;
    --very-light-pink: #FAF0F0;
    --light-gray: #6B7C85;
    --dark-pink: #d4a5a5;
    --input-color: rgba(255, 255, 255, 0.9);
    --primary-pink-transparent: rgba(232, 180, 184, 0.2);
    /* Gender colors */
    --gender-male: #4A90E2;
    --gender-female: #FF69B4;
    --gender-other: #A0A0A0;
    /* Role colors */
    --role-gestante: #E8B4B8;
    --role-acompanante: #6B7C85;
    /* Colores para el tipo de contenido :p*/
    --type-pdf: #e53e3e;
    --type-video: #3182ce;
    --type-libro: #d69e2e;
    --type-audio: #805ad5
}


body {
    margin: 0;
    background-color: var(--background);
    font-family: Arial, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    color: #fff;
}

html {
    font-family: Arial, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    color: #fff;
}

main{
    background-color: var(--background);

}