.header {
  height: 84px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
  box-sizing: border-box;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-pink);
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.headerButton {
  display: flex;
  gap: 15px;
  margin: 20px 40px;
}

.BackButton {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #E8B4B8;
  color: #FAF0F0;
  cursor: pointer;
  font-size: 14px;
  border: None;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

