.authContainer {
  display: flex;
  height: calc(100vh - 80px); 
  overflow: hidden;
  box-sizing: border-box;
}

.authContainer.normal {
  flex-direction: row;
}

.authContainer.reverse {
  flex-direction: row-reverse;
}

.imageSection {
  flex: 0.45;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 3rem 2rem 2rem 2rem;
  gap: 1.5rem;
}

.imageContent {
  max-width: 250px;
  max-height: 250px;
  width: auto;
  height: auto;
}

.imageText {
  color: var(--primary-pink);
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  max-width: 280px;
  line-height: 1.4;
  color: var(--light-gray);
  font-family: public-sans, sans-serif;
  
}

.formSection {
  flex: 0.55;
  align-items: center;
  justify-content: center;
  background: var(--background);
  padding: 1rem;
}

.formCard {
  background: var(--primary-pink);
  border-radius: 25px;
  padding: 2rem 2rem;
  width: 650px;
  max-width: 650px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
}

.loginCard {
  margin: 50px 20px;
}

.signupCard {
  margin: 20px;
}

.title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  font-family: public-sans, sans-serif;
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fieldGroup {
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
}

.input::placeholder {
  color: #999;
}

.input:focus {
  outline: none;
  background: white;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.submitButton {
  background: rgba(255, 255, 255, 0.9);
  color: var(--primary-pink);
  border: none;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
}

.submitButton:hover {
  background: white;
  transform: translateY(2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.footer {
  text-align: center;
  margin-top: 1.5rem;
  color: white;
  font-size: 0.9rem;
}

.footerLink {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.footerLink:hover {
  text-decoration: none;
}
